@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<html lang="en">
<head>
    <title>Home page</title>
</head>

<body>
     <div class="preloader">
    <div class="preloader-inner">
    <div class="dot"></div>
    <div class="dots">
    <div></div>
    <div></div>
    <div></div>
    </div>
    </div>
    </div>

    <header class="header">
        <div class="banner">
            <div class="banner-inner">
                <div class="banner-text">
                    <h1>Welcome To The ManDem Bank</h1>
                    <h2>Bank For The Mandem Around The World</h2>
                </div>
            </div>
        </div>
    </header>

    <main class="main">
        <section class="popular">
            <div class="popular-inner">
                <h2>Most Popular Right Now</h2>
                <div class="popular-items">
                    <div class="item">
                        <a asp-page="/Countries/Top10"
                           asp-route-countryId="SE">
                            <img src="assets/images/sweden-flag-png-large.png" alt="">
                        </a>
                        <img src="assets/images/sweden-flag-png-large.png" alt="">

                    </div>
                    <div class="item">
                        <a asp-page="/Countries/Top10"
                           asp-route-countryId="NO">
                            <img src="assets/images/norway-flag-png-large.png" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a asp-page="/Countries/Top10"
                           asp-route-countryId="FI">
                            <img src="assets/images/finland-flag-png-large.png" alt="">
                        </a>
                    </div>
                    <div class="item">
                         <a asp-page="/Countries/Top10"
                           asp-route-countryId="dk">
                            <img src="assets/images/denmark-flag-png-large.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>

