@page
@model BankWebApp.Pages.Countries.TopTenModel
@{
}

<head>
    <link href="~/assets/css/Transactions.css" rel="stylesheet" type="text/css" />
</head>

<section id="account" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div class="d-flex justify-content-between">
            <div class="section-title">
                <h2>Accounts</h2>
                <p id="account-info">Top 10 Accounts: </p>
            </div>

        </div>

        <div class="content">
            <table class="table custom-table table-fixed" id="posts-table">
                <thead>
                    <tr>
                        <th class="st-header">Account Id</th>
                        <th class="st-header">Name</th>
                        <th class="st-header">Email</th>
                        <th class="st-header">Balance</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customer in Model.Top10Customers)
                    {
                        <tr>
                            <td>@customer.Id</td>
                            <td>@customer.Name</td>
                            <td>@customer.Emailaddress</td>
                            <td>@string.Format("{0:n0}", customer.Balance) kr</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</section>

