@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - BankWebApp</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

   @*   <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">*@

    <link rel="stylesheet" href="~/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/css/owl.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/css/indexstyle.css">
    <link rel="stylesheet" href="~/assets/css/layoutstyle.css">
@*    <link rel="stylesheet" href="~/assets/TopTenStyle.css">*@
    @*<link rel="stylesheet" href="~/@(nameof(BankWebApp)).styles.css" />*@

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
</head>
<body>
    <header class="header-area header-sticky" style="">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <h1 class="logo me-auto me-lg-0">
                            <a asp-page="/Index">
                                <span class="material-icons">account_balance</span> MB
                            </a>
                        </h1>
                        <ul class="nav">
                            @if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Cashier"))
                            {
                                <li><a class="nav-link scrollto" asp-page="/Customers/Customers" asp-for="@Model."><i class="fas fa-users"></i> &nbsp; The ManDem</a></li>
                                <li><a class="nav-link scrollto" asp-page="/Accounts/Accounts"><i class="fas fa-file-invoice-dollar"></i> &nbsp Accounts</a></li>
                            }
                            @if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Admin"))
                            {
                                <li><a class="nav-link scrollto" asp-page="/Users/Users" asp-for="@Model."><i class="fas fa-users"></i> &nbsp; Users</a></li>
                            }
                            <div class="navbar order-last order-lg-0">
                                <partial name="_LoginPartial"></partial>
                            </div>
                        </ul>
                        <a class="menu-trigger"><span>Menu</span></a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            <img class="background-img" src="~/assets/images/herobg-4k.webp" />
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright © 2023 <a href="#">Mandem Bank</a> Company. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/tabs.js"></script>
    <script src="assets/js/popup.js"></script>
    <script src="assets/js/custom.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>