/* Global styles */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    /*background: url(images/cool-background.png);*/
}

a {
    color: inherit;
    text-decoration: none;
}

    a:hover {
        color: inherit;
        /* text-decoration: underline; */
    }

/* Header styles */
.header-area {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(248, 249, 250, 0.7);
    border-bottom: 1px solid #e5e5e5;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.logo {
    display: flex;
    align-items: center;
}

    .logo a {
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: 600;
        color: #333;
        text-transform: uppercase;
    }

        .logo a:hover {
            color: orangered;
        }

.material-icons {
    font-size: 28px;
    margin-right: 10px;
}

.nav {
    display: flex;
    align-items: center;
}

    .nav li {
        margin-right: 20px;
    }

        .nav li:last-child {
            margin-right: 0;
        }

.nav-link {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;
}

    .nav-link:hover {
        color: orangered;
    }

.menu-trigger {
    display: none;
}

/* Main content styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    /*background-color: rgba(255, 255, 255, 0.7);*/
}

.pb-3 {
    padding-bottom: 3rem;
}

/* Footer styles */
.footer {
    background-color: rgba(31, 33, 34, 0.7);
    padding: 15px 0;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

    .footer a {
        color: #fff;
        font-weight: 600;
    }

        .footer a:hover {
            color: orangered;
        }

.background-img {
    position: fixed;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    width: 100%;
    z-index: -1;
    background-attachment: fixed;
}